<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>strive-社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/community.js"></script>
    <script src="/jq/jquery_1.10.2_jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 left_boder">
            <h2><span class="glyphicon glyphicon-list faqi_pic" aria-hidden="true"></span>发起</h2>
            <hr>
            <div th:replace="~{questionList :: questions}"></div>

            <nav aria-label="Page navigation" class="page-right">
                <ul class="pagination">
                    <li th:if="${questionPage.showFirstPage}">
                        <a th:href="@{/(page = 1,search =${searchkw} , tag = ${tagkw})}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${questionPage.showPrevious}">
                        <a th:href="@{/(page = ${questionPage.page} - 1,search =${searchkw} , tag = ${tagkw})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li  th:each="page : ${questionPage.pages}" th:class="${questionPage.page == page}  ? 'active' : '' ">
                        <a th:href="@{/(page = ${page},search =${searchkw}, tag = ${tagkw})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${questionPage.showNext}">
                        <a th:href="@{/(page = ${questionPage.page} + 1,search =${searchkw}, tag = ${tagkw})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${questionPage.showEndPage}">
                        <a th:href="@{/(page = ${questionPage.totlePage},search =${searchkw}, tag = ${tagkw})}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 hidden-xs hidde  n-sm">
            <h3>热点标签</h3>
            <br>
            <!--<div class="media"  th:each="qq : ${hotList}">
                <a class="likeList" th:href="@{'/question/' + ${qq.id} +'/0'} ">
                    · <span th:text="${qq.title}"></span>
                </a>
            </div>-->
            <ul>
                <li th:each="tag : ${tags}">
                    <a class="likeList" th:href="@{/(page=1,search =${searchkw},tag=${tag})}" th:text="${tag}"></a>
                </li>
            </ul>
        </div>

        <div th:replace="~{navigation :: footer}"></div>

    </div>
</div>

</body>

</html>
