<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>strive-登录</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/community.js"></script>
    <script src="/jq/jquery_1.10.2_jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="login-form">

    <form class="form-horizontal">
        <div class="form-group">
            <div style="text-align: center">
                <h3>用户登录</h3>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="text" class="form-control" id="Username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn login-btn btn-default">登 录</button>
        </div>
        <div class="form-group">
            <div class="text-center">
                <label>
                    <a href="https://github.com/login/oauth/authorize?client_id=ae08bb7288c532dbaf78
                &redirect_uri=http://localhost:8080/callback&scope=user&state=1">
                        <img id="github-img" src="https://github.githubassets.com/favicons/favicon.png">
                        Github 登录
                    </a>
                </label>
            </div>
        </div>
    </form>
</div>
</body>
</html>
