<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>strive-登录</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/community.js"></script>
    <script src="/jq/jquery_1.10.2_jquery.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body id="bg_img">
<div th:replace="~{navigation :: nav}"></div>
<div class="login-form">
    <form class="form-horizontal" action="/doLogin" method="post">
        <div class="form-group">
            <div style="text-align: center">
                <h3>用户登录</h3>
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="text" class="form-control" name="name" id="name" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn login-btn btn-default">登 录</button>
        </div>

        <div class="form-group">
            <div class="text-center">
                <label>
                    <!--本地 url-->
                    <a href="https://github.com/login/oauth/authorize?client_id=ee2baad76d783d0cb698&redirect_uri=http://localhost:8080/callback&scope=user&state=1">
                        <img id="github-img" src="https://github.githubassets.com/favicons/favicon.png">
                        Github 登录
                    </a>
                    <!--服务器 url-->
                    <!--<a href="https://github.com/login/oauth/authorize?client_id=d85ef952e55a5e761214
                &redirect_uri=http://114.215.208.150:8080/callback&scope=user&state=1">
                        <img id="github-img" src="https://github.githubassets.com/favicons/favicon.png">
                        Github 登录
                    </a>-->
                </label>
            </div>
        </div>
        <div class="alert alert-danger alert-dismissible col-lg-offset-2 col-lg-7 col-md-12 col-sm-12 col-xs-12"
             th:if="${error != null}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span  th:text="${error}"></span>
        </div>
    </form>
</div>
<div class="loginbg"></div>

</body>
</html>
